/*usable fonts*/

/*font-family: 'Anton', sans-serif;
font-family: 'Wallpoet', cursive;*/

body{
	background-color: #000000;
}

.kektus{
	font-family: 'Wallpoet', cursive;
/*	border: 1px blue solid;*/
}

.oval-btn{
	border-radius: 20px;
}

.iconz{
	color: white;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;    
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 2px solid white; 
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}